<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
    
	</nav>
  
  <nav class="right-nav">
		<ul>
			<li>
				<span>SUBSCRIBE NOW</span>
			</li>
			<!-- <li id="search-modal-btn"> -->
			 <li>
				<span>LOG IN</span>
			</li>    
      <div class="dropdown">
        <i class="fas fa-cog"></i>
        <div class = "dropdown-content">
          <li>EDITION</li>
          <li>CSS </li>
          <li>HTML </li>
          <li>Javascript </li>
          <li>Ruby</li>
          <div class="dropdown_link">
            <li>help</li>
            <li>FAQ</li>
            <li>Contact Us</li>
          </div>
        </div>
      
    </div>  
		</ul>  
	</nav>
  
  
    
  
  
</header>