
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"><header class="masthead">
	<nav class="language-nav">
		<ul>			
				<a>CSS</a>
				<a>HTML</a>
				<a>JAVASCRIPT</a>
				<a>RUBY</a>
		</ul>
    
	</nav>
  <img class='logo' src="assets/AA_Times_Logo.png" alt="logo">
  
  <div class="masthead-links" >
    <li>Tuesday, October 18, 2016</li>
    <span><li> <i class="fas fa-camera"></i>Today's Paper</li></span>
      <span><li><i class="fas fa-video"></i> Video</li></span>
      <button type="button" ><li>77&#176;F</li></button>
      <button type="button" ><li>AAO <strong>+100%</strong></li></button>
  </div>
  
</header>